body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#tweet_list
{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    max-height: 600px;
    overflow-y: scroll;
    width: 590px;
    margin: 0 auto;
    z-index: 10000;
    position: relative;
}

#tweet_header
{
    width: 590px;
    height: 36px;
    margin: 0 auto;
    background-color: #dc372d;
    color: white;
    -webkit-box-shadow: 0 -1px 0 0 #e56962 inset, 0 -2px 0 0 #de453b inset;
    -moz-box-shadow: 0 -1px 0 0 #e56962 inset, 0 -2px 0 0 #de453b inset;
    box-shadow: 0 -1px 0 0 #e56962 inset, 0 -2px 0 0 #de453b inset;
}
.tweet_header_logo
{
    width: 10%;
    height: 100%;
    float: left;
    background-image: url('../Img/twitter.png');
    background-repeat: no-repeat;
    background-position: 3px center;
}
.tweet_header_text
{
    width: 80%;
    height: 100%;
    float: left;
    font-size: 1.53846em;
    line-height: 1.8em;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-family: Georgia, serif;
}
.tweet_header_follow
{
    float: left;
    width: 10%;
    height: 100%;
}

.tweet
{
    opacity: 0;
    background: rgba(255,255,255,0.4);
    padding: 15px;
    box-shadow: inset 0 0 20px 1px rgba(0,0,0,0.05);
}
.tweet_border_bottom
{
    border-bottom: 1px solid #eee;
}
.tweet .tweet_user a
{
    font-weight: 600;
    color: #2F374B;
}
.tweet .tweet_date
{
    color: #ccc;
}
.tweet .tweet_text
{

}

ul.tweet_share
{
    list-style-type: none;
    margin: 0;
    padding:0;
    float:right;
}

ul.tweet_share li a
{
    color: #ccc!important;
}

#waitingTweets
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    z-index: 15000;
}


#map_svg
{
    width: 100%;
    position: fixed;
    z-index: -1;
}


.graticule
{
    fill: none;
    stroke: #ccc;
    stroke-width: 0.1px;
    stroke-opacity: .5;
}

.land {
    fill: #ccc;
    opacity: .5;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.pin
{
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}



.wrapper {
    width: 50px;
    margin: 20px auto;
}

#tweeter_loader {
    width: 50px;
    height: 50px;
    stroke-width: 2;
    fill: #5EA9DD;
    stroke: #5EA9DD;
    stroke-width: 1px;
    animation: tweetloading 1s linear infinite;
}

@keyframes tweetloading {
    0% {
        stroke-dashoffset: 1200;
        fill-opacity: 0.15;
        stroke-width: 1px;
    }
    50% {
        fill-opacity: 0.5;
        stroke-width: 4px;
    }
    100% {
        stroke-dashoffset: -1000;
        fill-opacity: 0.15;
        stroke-width: 1px;
    }
}
