<div class="tweet animated {{animation}}" >
    <div class="tweet_user">
        <a href="http://twitter.com/{{user.screen_name}}" target="blank">@{{user.screen_name}}</a>
        <ul class="tweet_share">
            <li><a href="https://twitter.com/intent/retweet?tweet_id={{id}}" target="_blank"><i class="fa fa-retweet" data-placement="bottom" data-toggle="tooltip" title="Retweeter" ></i></a></li>
            <li><a href="https://twitter.com/intent/favorite?tweet_id={{id}}" target="_blank"><i class="fa fa-star" data-placement="bottom" data-toggle="tooltip" title="Ajotuer aux favoris" ></i></a></li>
            <li><a href="https://twitter.com/intent/tweet?in_reply_to={{id}}" target="_blank"><i class="fa fa-reply" data-placement="bottom" data-toggle="tooltip" title="Répondre aux tweets" ></i></a></li>
        </ul>
    </div>
    <div class="tweet_date" date="{{original_date}}">{{created_at}}</div>
    <div class="tweet_text">{{{text}}}</div>
</div>